.ImageCard {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  position: relative;
  color: rgb(255, 255, 255);
  height: 22rem;
  width: 35rem;
  min-width: 100%;
  border-radius: 0.875rem;
  background-color: rgb(204, 204, 204);
}

.ImageCard-text-container {
  position: absolute;
  bottom: 1.5rem;
  padding: 0.5rem;
}

.ImageCard-attribute {
  padding-top: 0.875rem;
  display: flex;
  justify-content: space-between;
}

.ImageCard-author {
  background-color: rgb(86, 3, 148);
  padding: 0.5rem 0.875rem;
  font-weight: 500;
  border-radius: 0.875rem;
  word-break: break-word;
  margin-right: 0.575rem;
}

.ImageCard-source {
  background-color: rgb(2, 148, 63);
  padding: 0.5rem 0.875rem;
  font-weight: 500;
  border-radius: 0.875rem;
  word-break: break-word;
}

@media screen and (max-width: 1280px) {
  .ImageCard {
    width: 32.5rem;
  }
}
@media screen and (max-width: 1180px) {
  .ImageCard {
    width: 29rem;
  }
}
@media screen and (max-width: 1080px) {
  .ImageCard {
    width: 29rem;
  }
}
@media screen and (max-width: 900px) {
  .ImageCard {
    width: 100%;
  }
}
